@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
.container {   
        background-color: rgba(100, 175, 152, 0.068);
        backdrop-filter: blur(5px);
        display:flex;
        padding: 1px;
        width: 1000px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        flex-direction: column;
}

.title {
    font-size: 35px;
    color: rgb(3, 3, 3);
    text-shadow: 0 0 1px rgba(255,255,255,1) , 0 0 2px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #00ffff , 0 0 7px #00ffff , 0 0 8px #00ffff , 0 0 10px #00ffff ;
    font-family:"Press Start 2p";
    padding: 20px 30px;
    border-radius: 30px;
}

.btnback{
    position:relative;
    background-color: rgba(100, 175, 152, 0.308);
    border: 1px solid rgba(12, 12, 12, 0);   
    border-radius: 5px;
    padding: 8px;
    padding-inline: 10px;
    margin-left:6px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Press Start 2p"
}

.btnback:hover{
    text-shadow: 0 0 1px rgba(255,255,255,1) , 0 0 2px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #00ffff , 0 0 7px #00ffff , 0 0 8px #00ffff , 0 0 10px #00ffff ;
}

.lista {
    display:inline-flex;
    background-color: rgb(218, 218, 218);
    backdrop-filter: blur(50px);
    border: 2px solid rgb(170, 170, 170);
    color: black;
    border-radius: 5px;
    text-align: center;
    font-family: "quantico";
    font-size: 30px;
    font-weight:lighter;
    padding: 8px;
}

.closeButton {
    display: flex;
    background-color: rgba(100, 175, 152, 0.801);
    border: 1px solid rgba(12, 12, 12, 0);   
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    
    
    
}