@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
.cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 100px;
    justify-items: center;
  
}

.button{
    display: inline-block;
    color: rgb(253, 253, 253);
    text-decoration: none;
    border: 1px solid #f6f6f89c;
    padding: 5px 10px 5px 10px;
    background-color: rgba(100, 175, 152, 0);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    font-size: 15px;
    font-family: "quantico";    
}

.button:hover{
    text-shadow: 0 0 1px rgba(255,255,255,1) , 0 0 2px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #00ffff , 0 0 7px #00ffff , 0 0 8px #00ffff , 0 0 10px #00ffff ;
    cursor: pointer;
}

.paginado{
    display: flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: -40px;
 }

.span{
    font-family: "videogamefont";
    font-size: 23px;
    color:aliceblue; 
}

.background { 
    opacity: 0.98;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
 }

.stretch { 
    width:100%; 
    height:100%; 
}